<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575066547605-19emfc7ufqtgi8ribt4d0tnr92fosinp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575066547605-19emfc7ufqtgi8ribt4d0tnr92fosinp</string>
	<key>API_KEY</key>
	<string>AIzaSyAHwYz5t2bt5AbUNYQsApcZ5lfcK3xunaE</string>
	<key>GCM_SENDER_ID</key>
	<string>575066547605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maixuanlinh.com.LoveChat</string>
	<key>PROJECT_ID</key>
	<string>lovechat-369f0</string>
	<key>STORAGE_BUCKET</key>
	<string>lovechat-369f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575066547605:ios:ad92992665e4c51768829c</string>
	<key>DATABASE_URL</key>
	<string>https://lovechat-369f0.firebaseio.com</string>
</dict>
</plist>